{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block content %}
    <script>
        $(function() {
            $('.flexslider').flexslider({
                directionNav: true,
                pauseOnAction: false
            });
        });
    </script>
    <div class="wall">
        <nav class="navbar navbar-default" id="navbar-content">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button id="mobile-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    <a class="navbar-brand" href="/" style="font-size: 24px;">DeskXD Chengdu</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'home:index' %}" id="home">HOME</a></li>
                        <li><a href="/game" id="game">GAME</a></li>
                        <li><a href="/information" id="information">INFORMATION</a></li>
                        <li><a href="/member" id="member">MEMBER</a></li>
                        <li><a href="/contact" id="contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="introduc">
            <div class="flexslider">
                <ul class="slides">
                    {% for p in introduceimages %}
                        <li><img src="{{ p.url|safe }}" /></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="group">
                <div class="group-title">
                    <div class="g-title">
                        <div class="t-img" style="background: #eb4c4c;">G</div>
                        <div class="t-name">GAME</div>
                    </div>
                    <div class="g-more"><a href="/game/">MORE</a></div>
                </div>
                <div class="group-txt">
                    {% for g in game_list %}
                        <div class="l-group" {% if g.i == 1 %}id="l-one"{% endif %}>
                            <a href="{{ g.url|safe }}"><img src="{{ g.img|safe }}" /></a>
                            <div class="l-info">
                                <p><a href="{{ g.url|safe }}"><strong>{{ g.name }}</strong></a></p>
                                <p style="font-size: 12px;">{{ g.abstract }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="line"></div>
            <div class="group">
                <div class="group-title">
                    <div class="g-title">
                        <div class="t-img" style="background: #4285f4;">I</div>
                        <div class="t-name">INFORMATION</div>
                    </div>
                    <div class="g-more"><a href="/information/">MORE</a></div>
                </div>
                <div class="group-txt">
                    {% for p in info_list %}
                        <div class="m-group" {% if p.i == 1 %}id="m-one"{% endif %}>
                            <a href="/information/"><img src="{{ p.img|safe }}" /></a>
                            <div class="m-info">
                                <strong><a href="/information/">{{ p.name }}</a></strong>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="line"></div>
            <div class="group">
                <div class="group-title">
                    <div class="g-title">
                        <div class="t-img" style="background: #a387da;">M</div>
                        <div class="t-name">MEMBER</div>
                    </div>
                    <div class="g-more"><a href="/member/">MORE</a></div>
                </div>
                <div class="group-txt">
                    {% for m in member_list %}
                        <div class="sm-group" {% if m.i == 1 %}id="sm-one"{% endif %}>
                            <a href="{{ m.url }}"><img src="{{ m.img|safe }}" /></a>
                            <div class="sm-info">
                                <p><a href="{{ m.url }}"><strong>{{ m.name }}</strong></a></p>
                                <p style="font-size: 12px;">{{ m.signature }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="center-footer">
                <div class="left">
                    <a href="#">LANGUAGE</a>|
                    <a href="#">POWERED BY</a>
                </div>
                <div class="right">
                    Copyright © 2015 Deskxd.com
                </div>
            </div>
        </div>
    </div>
{% endblock %}