{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="wall">
        <div class="header">
            <div class="logo">
                <div id="lang"><strong>贤　卓　·　成　都</strong></div>
                <div id="olang">DeskXD Chengdu　|　賢卓　成都</div>
            </div>
            <div class="guider">
                <a href="#" id="home"><div>Home</div></a>
                <a href="#" id="game"><div>Game</div></a>
                <a href="#" id="information"><div>Information</div></a>
                <a href="#" id="member"><div>Member</div></a>
                <a href="#" id="contact"><div>Contact</div></a>
            </div>
        </div>
        <div class="introduc">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="http://ww3.sinaimg.cn/large/006bwLnEgw1evad63fedyj30zk0dwgn5.jpg" />
                    </li>
                    <li>
                        <img src="http://ww2.sinaimg.cn/large/006bwLnEgw1evad3c9kpcj30zk0dwjvb.jpg" />
                    </li>
                    <li>
                        <img src="http://ww2.sinaimg.cn/large/006bwLnEgw1evad3bowegj30zk0dw41j.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="group">
                <div class="group-title">
                    <div class="g-title">
                        <div class="g-title">
                            <div class="t-img" style="background: #eb4c4c;">G</div>
                            <div class="t-name">GAME</div>
                        </div>
                    </div>
                    <div class="g-more"><a href="#">MORE</a></div>
                </div>
                <div class="group-txt">
                    <div class="l-group" id="l-one">
                        <a href=""><img src="http://ww1.sinaimg.cn/large/006bwLnEgw1evad39ps5nj30ci0603yf.jpg" /></a>
                        <div class="l-info">
                            <p><strong>oHitx</strong></p>
                            <p style="font-size: 12px;">这是啥O玩意儿啊？你让我写个X啊！</p>
                        </div>
                    </div>
                    <div class="l-group">
                        <a href=""><img src="http://ww1.sinaimg.cn/large/006bwLnEgw1evad3amppij30ci060gmb.jpg" /></a>
                        <div class="l-info">
                            <p><strong>七彩之光</strong></p>
                            <p style="font-size: 12px;">这才是战棋游戏！</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="group">
                <div class="group-title">
                    <div class="g-title">
                        <div class="g-title">
                            <div class="t-img" style="background: #af3dea;">I</div>
                            <div class="t-name">INFORMATION</div>
                        </div>
                    </div>
                    <div class="g-more"><a href="#">MORE</a></div>
                </div>
                <div class="group-txt">
                    <div class="m-group" id="m-one">
                        <a href=""><img src="http://ww4.sinaimg.cn/large/006bwLnEgw1evadtege3yj3086060dg2.jpg" /></a>
                        <div class="m-info">公司简介</div>
                    </div>
                    <div class="m-group" id="m-one">
                        <a href=""><img src="http://ww4.sinaimg.cn/large/006bwLnEgw1evadtesu1hj30860603yq.jpg" /></a>
                        <div class="m-info">公司理念</div>
                    </div>
                    <div class="m-group">
                        <a href=""><img src="http://ww4.sinaimg.cn/large/006bwLnEgw1evadtf9imnj308606074k.jpg" /></a>
                        <div class="m-info">公司目标</div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="group">
                <div class="group-title">
                    <div class="g-title">
                        <div class="t-img" style="background: #4c91eb;">M</div>
                        <div class="t-name">MEMBER</div>
                    </div>
                    <div class="g-more"><a href="#">MORE</a></div>
                </div>
                <div class="group-txt">
                    <div class="sm-group" id="sm-one">
                        <a href=""><img src="http://ww2.sinaimg.cn/large/006bwLnEgw1evad3azt60j3060060jr7.jpg" /></a>
                        <div class="sm-info">
                            <p>UkiyoESoragoto</p>
                            <p>所谓灵魂 几行代码</p>
                        </div>
                    </div>
                    <div class="sm-group" id="sm-one">
                        <a href=""><img src="http://ww4.sinaimg.cn/large/006bwLnEgw1evad397rwsj3060060weq.jpg" /></a>
                        <div class="sm-info">
                            <p>AttackJZ</p>
                            <p>进翰的击子很机智</p>
                        </div>
                    </div>
                    <div class="sm-group" id="sm-one">
                        <a href=""><img src="http://ww1.sinaimg.cn/large/006bwLnEgw1evad39zxblj3060060dft.jpg" /></a>
                        <div class="sm-info">
                            <p>NicholasWei</p>
                            <p>致虚极守静笃</p>
                        </div>
                    </div>
                    <div class="sm-group">
                        <a href=""><img src="http://ww3.sinaimg.cn/mw690/006bwLnEgw1evad38vfrsj3060060dfv.jpg" /></a>
                        <div class="sm-info">
                            <p>Joseph Lee</p>
                            <p>哦，这是我的签名</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="center-footer">
                <div class="left">
                    <a href="#">CONTACT US</a>|
                    <a href="#">POWERED BY</a>
                </div>
                <div class="right">
                    Copyright © 2015 Deskxd.com
                </div>
            </div>
        </div>
    </div>
{% endblock %}