{% extends 'Base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="wall">
{#        <div class="bg"></div>#}
        <div class="header">
            <div class="logo">
                成都贤卓新信息技术有限公司
            </div>
            <div class="language">
                Language:
                <div class="btn-group">
                    <button type="button" id="select_lang" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CHINESE <span class="caret" id="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="dropdown-menu">
                        <li><a href="#">CHINESE</a></li>
                        <li><a href="#">ENGLISH</a></li>
                        <li><a href="#">JAPANESE</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="introduc">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="{% static 'deskxd_com/images/test.jpg' %}" />
                    </li>
                    <li>
                        <img src="{% static 'deskxd_com/images/test2.jpg' %}" />
                    </li>
                    <li>
                        <img src="{% static 'deskxd_com/images/test3.jpg' %}" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="group">
                <div class="group-title">
                    <div class="g-title">
                        <img src="{% static 'deskxd_com/images/play.png' %}" />
                        TitleName
                    </div>
                    <div class="g-more"><a href="#">MORE</a></div>
                </div>
                <div class="group-txt">
                    <div class="t-group">
                        <a href=""><img src="{% static 'deskxd_com/photo/01.png' %}" /></a>
                        <div class="t-info">test test test test test test test test test test test test test test test</div>
                    </div>
                    <div class="t-group">
                        <a href=""><img src="{% static 'deskxd_com/photo/01.png' %}" /></a>
                        <div class="t-info">test test test test test test test test test test test test test test test</div>
                    </div>
                    <div class="t-group">
                        <a href=""><img src="{% static 'deskxd_com/photo/01.png' %}" /></a>
                        <div class="t-info">test test test test test test test test test test test test test test test</div>
                    </div>
                    <div class="t-group">
                        <a href=""><img src="{% static 'deskxd_com/photo/01.png' %}" /></a>
                        <div class="t-info">test test test test test test test test test test test test test test test</div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
        </div>
        <div class="footer">
            <div class="center-footer">
                <div class="left">
                    <a href="#">COMPANY INFORMATION</a>|
                    <a href="#">POWERED BY</a>
                </div>
                <div class="right">
                    Copyright © 2015-2020 Deskxd.com 版权所有
                </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="center-menu">
            <img src="{% static 'deskxd_com/images/OverDesk.png' %}" width="200px" />
            <div class="right-menu">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Game</a>
                <a href="#">Join</a>
            </div>
        </div>
    </div>
{% endblock %}