<!DOCTYPE html>
<html>
{% load static from staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>成都贤卓新信息技术有限公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'deskxd_com/css/information_style.css' %}"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'deskxd_com/js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'deskxd_com/js/jquery.main.js' %}"></script>
</head>
<body>
    <div class="wall">
        <div class="header">
            <nav class="navbar navbar-default" id="navbar-content">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button id="mobile-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        <a class="navbar-brand" href="/" style="font-size: 24px;">DeskXD Chengdu</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'home:index' %}" id="home">HOME</a></li>
                            <li><a href="/game" id="game">GAME</a></li>
                            <li><a href="/information" id="information">INFORMATION</a></li>
                            <li><a href="/member" id="member">MEMBER</a></li>
                            <li><a href="/contact" id="contact">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="menu-title">INFORMATION</div>
        <div class="content">
            <div class="company-title">
                <img src="{% static 'deskxd_com/images/OverDesk.png' %}"/>
                <span>贤　卓　·　成　都</span>
            </div>
            <div class="company">
                <div class="company-menu" id="c-menu">
                    <div id="company-active">公司理念</div>
                    <div>公司简介</div>
                    <div>公司目标</div>
                </div>
                <div class="company-txt" id="c-txt">
                    <div style="display: block;">
                        　　做自己会玩的游戏！
                    </div>
                    <div>
                        　　2014年，几位年轻的创业合伙人对游戏市场兴趣颇深，想做一款属于自己的游戏，后策划得到了肯定，便召集几位游戏开发爱好者一同尝试开发，经过几个月的商讨与努力，制作出可行方案。
                           <br/>
                        　　贤卓新信息技术有限公司成立于2015年2月，是一家以手机游戏为发展起点，集研发、运营、销售为一体的自主创业公司。
                           </br>
                        　　作为国内众多手游创业界的一员，公司始终保持着创业激情，全线员工为刚刚踏入社会的90后青年，并且不断纳入新鲜血液使得公司更加充满活力，从最开始的几位合伙人逐渐演变成一个小工作室，直到现在的公司成立。
                    </div>
                    <div>
                        　　贤卓，取贤明、卓越的首字作为公司名，表达我们对公司的期望与决心，做到有智慧、有能力、卓尔不凡。贤卓秉承着创新的精神，一步步使公司走向未来。我们置信，经过不懈努力和力求完美的精神，定可让公司成为游戏行业卓越的新秀！
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-line"></div>
        <div class="footer">
            <div class="center-footer">
                <div class="left">
                    <a href="#">LANGUAGE</a>|
                    <a href="#">POWERED BY</a>
                </div>
                <div class="right">
                    Copyright © 2015 Deskxd.com
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    window.onload=function(){
        var cmenu = document.getElementById("c-menu");
        var ctxt = document.getElementById("c-txt");
        var ctitle = cmenu.getElementsByTagName("div");
        var ctext = ctxt.getElementsByTagName("div");
        for (var i=0;i<ctitle.length;i++)
        {
            ctitle[i].index=i;
            ctitle[i].onclick=function(){
                for (var i=0; i<ctitle.length; i++)
                {
                    ctitle[i].id="";
                    ctext[i].style.display="none";
                }
                this.id="company-active"
                ctext[this.index].style.display="block";
            }
        }
    }
</script>