<!DOCTYPE HTML>
<html>
    {% load static from staticfiles %}
	<head>
		<title>成都贤卓新信息技术有限公司</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'deskxd/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'deskxd/assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'deskxd/assets/css/ie8.css' %}" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="/">DeskXD Chengdu</a></h1>
								<p>成都贤卓新信息技术有限公司</p>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="/">Home</a></li>
									<li><a href="/information/">Infromation</a></li>
									<li><a href="/game/">Game</a></li>
									<li><a href="/member/">Member</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div class="wrapper style2">
					<div class="title">Information</div>
					<div id="main" class="container">

						<!-- Content -->
							<div id="content">
								<article class="box post">
									<header class="style1">
										<h2>贤卓新信息技术有限公司</h2>
										<p>一家年轻有为，有活力，有朝气的公司</p>
									</header>
									<a href="#" class="image featured">
                                        <div class="flexslider" style="width: 100%; display: block !important;">
                                            <ul class="slides">
                                                <li><img src="http://ww3.sinaimg.cn/large/006bwLnEgw1evad63fedyj30zk0dwgn5.jpg" alt="" /></li>
                                                <li><img src="http://ww2.sinaimg.cn/large/006bwLnEgw1evad3c9kpcj30zk0dwjvb.jpg" alt="" /></li>
                                                <li><img src="http://ww2.sinaimg.cn/large/006bwLnEgw1evad3bowegj30zk0dw41j.jpg" alt="" /></li>
                                            </ul>
                                        </div>
									</a>
									<p style="text-align: justify;">　　2014年，几位年轻的创业合伙人对游戏市场兴趣颇深，想做一款属于自己的游戏，后策划得到了肯定，便召集几位游戏开发爱好者一同尝试开发，
                                        经过几个月的商讨与努力，制作出可行方案。</p>
									<p style="text-align: justify;">　　贤卓新信息技术有限公司成立于2015年2月，是一家以手机游戏为发展起点，集研发、运营、销售为一体的自主创业公司。</p>
									<p style="text-align: justify;">　　作为国内众多手游创业界的一员，公司始终保持着创业激情，全线员工为刚刚踏入社会的90后青年，并且不断纳入新鲜血液使得公司更加充满活力，
                                        从最开始的几位合伙人逐渐演变成一个小工作室，直到现在的公司成立。</p>
								</article>
							</div>

					</div>
				</div>

			<!-- Highlights -->
				<div class="wrapper style3">
					<div class="title">Our Company</div>
					<div id="highlights" class="container">
						<div class="row 150%">
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="{% static 'deskxd_com/images/big-logo.png' %}" alt="" /></a>
									<h3><a href="#">Company Logo</a></h3>
									<p style="text-align: justify;">掀桌子，（╯‵□′）╯︵┻━┻；掀桌子，（╯‵□′）╯︵┻━┻；掀桌子，（╯‵□′）╯︵┻━┻</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="http://ww4.sinaimg.cn/large/006bwLnEgw1evadtege3yj3086060dg2.jpg" alt="" /></a>
									<h3><a href="#">Company Philosophy</a></h3>
									<p style="text-align: justify;">做自己会玩的游戏！做自己会玩的游戏！做自己会玩的游戏！做自己会玩的游戏！做自己会玩的游戏！</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="http://ww4.sinaimg.cn/large/006bwLnEgw1evadtf9imnj308606074k.jpg" alt="" /></a>
									<h3><a href="#">Company Goal</a></h3>
									<p style="text-align: justify;">贤卓秉承创新精神，为公司打下夯实的基础。我们坚信，经过不懈努力和力求完美的精神，定让公司成为游戏行业卓越的新秀！</p>
								</section>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper" class="wrapper">
					<div class="title">Contact US</div>
					<div id="footer" class="container">
						<div class="row 150%">
							<div class="6u 12u(mobile)">

                            <!-- Contact Form -->
                                <section>
                                    <div style="text-align: center; margin-top: 30px;">
                                        <img src="{% static 'deskxd_com/images/erweima.png' %}" />
                                    </div>
                                </section>

							</div>
							<div class="6u 12u(mobile)">
                            <!-- Contact -->
                                <section class="feature-list small">
                                    <div class="row">
                                        <div class="6u 12u(mobile)">
                                            <section>
                                                <h3 class="icon fa-home">Mailing Address</h3>
                                                <p>
                                                    中国　四川　成都<br />
                                                    1234 Somewhere Rd #987<br />
                                                    Nashville, TN 00000-0000
                                                </p>
                                            </section>
                                        </div>
                                        <div class="6u 12u(mobile)">
                                            <section>
                                                <h3 class="icon fa-comment">Social</h3>
                                                <p>
                                                    <a href="#">www.deskxd.com</a><br />
                                                    <a href="#">deskxd/weibo.com</a>
                                                </p>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="6u 12u(mobile)">
                                            <section>
                                                <h3 class="icon fa-envelope">Email</h3>
                                                <p>
                                                    <a href="#">info@untitled.tld</a>
                                                </p>
                                            </section>
                                        </div>
                                        <div class="6u 12u(mobile)">
                                            <section>
                                                <h3 class="icon fa-phone">Phone</h3>
                                                <p>
                                                    (000) 555-0000
                                                </p>
                                            </section>
                                        </div>
                                    </div>
                                </section>
							</div>
						</div>
						<hr />
					</div>
					<div id="copyright">
						<ul>
							<li>&copy; DeskXD.com</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</div>


		</div>

		<!-- Scripts -->

			<script src="{% static 'deskxd/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/skel-viewport.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'deskxd/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'deskxd/assets/js/main.js' %}"></script>
            <link rel="stylesheet" type="text/css" href="{% static 'deskxd_com/css/flexsider.css' %}"/>
            <script src="{% static 'deskxd_com/js/jquery.flexslider.js' %}"></script>
            <script>
                $(function() {
                    $('.flexslider').flexslider({
                        directionNav: true,
                        pauseOnAction: false
                    });
                });
            </script>

	</body>
</html>