<!DOCTYPE HTML>
<html>
    {% load static from staticfiles %}
	<head>
		<title>成都贤卓新信息技术有限公司</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'deskxd/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'deskxd/assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'deskxd/assets/css/ie8.css' %}" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="/">DeskXD Chengdu</a></h1>
								<p>成都贤卓新信息技术有限公司</p>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="/">Home</a></li>
									<li><a href="/information/">Infromation</a></li>
									<li><a href="/game/">Game</a></li>
									<li><a href="/member/">Member</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Highlights -->
				<div class="wrapper style3">
					<div class="title">Our Games</div>
					<div id="main" class="container">

						<!-- Image -->
							<div class="image featured" style="margin-bottom: 100px !important;">
								<div class="flexslider" style="width: 100%; display: block !important;">
                                    <ul class="slides">
                                        {% for p in gameimgs %}
                                        <li><img src="{{ p.img|safe }}" alt="" /></li>
                                        {% endfor %}
                                    </ul>
                                </div>
							</div>

						<!-- Features -->
							<div id="highlights" class="container">
                                <div class="row 150%">
                                    <div class="4u 12u(mobile)">
                                        <section class="highlight">
                                            <a href="#" class="image featured"><img src="http://ww1.sinaimg.cn/large/006bwLnEgw1evad3amppij30ci060gmb.jpg" alt="" /></a>
                                            <h3><a href="#">图兰卡之门</a></h3>
                                            <p style="text-align: justify;">《图兰卡之门》是贤卓成立首款主打手游，是一款策略型战棋游戏，采用Cocos-2D引擎，用唯美的画风、创意的诸多玩点，为玩家展示一个更广阔、内容更丰富的魔幻战棋新世界。</p>
                                        </section>
                                    </div>
                                    <div class="4u 12u(mobile)">
                                        <section class="highlight">
                                            <a href="#" class="image featured"><img src="http://ww1.sinaimg.cn/large/006bwLnEgw1evad39ps5nj30ci0603yf.jpg" alt="" /></a>
                                            <h3><a href="#">Ohitx</a></h3>
                                            <p style="text-align: justify;">《oHitx》这其实就是个OOXX的游戏，没啥好介绍的，攻城狮每天都要玩儿的摔手机！反正我觉得没啥好玩儿的，不信你下载下来试试！</p>
                                        </section>
                                    </div>
                                    <div class="4u 12u(mobile)">
                                        <section class="highlight">
                                            <a href="#" class="image featured"><img src="http://ww1.sinaimg.cn/large/006bwLnEgw1evad39ps5nj30ci0603yf.jpg" alt="" /></a>
                                            <h3><a href="#">Ohitx</a></h3>
                                            <p style="text-align: justify;">《oHitx》这其实就是个OOXX的游戏，没啥好介绍的，攻城狮每天都要玩儿的摔手机！反正我觉得没啥好玩儿的，不信你下载下来试试！</p>
                                        </section>
                                    </div>
                                </div>
                            </div>
					</div>
				</div>

						<!-- Footer -->
				<div id="footer-wrapper" class="wrapper">
					<div class="title">Contact</div>
					<div id="footer" class="container">
						<div class="row 150%">
							<div class="6u 12u(mobile)">

                            <!-- Contact Form -->
                                <section>
                                    <div style="text-align: center; margin-top: 30px;">
                                        <img src="{% static 'deskxd_com/images/erweima.png' %}" />
                                    </div>
                                </section>

							</div>
							<div class="6u 12u(mobile)">
                            <!-- Contact -->
                                <section class="feature-list small" style="margin-top: 30px;">
                                    <div class="row">
{#                                        <div class="6u 12u(mobile)">#}
{#                                            <section>#}
{#                                                <h3 class="icon fa-home">Mailing Address</h3>#}
{#                                                <p>#}
{#                                                    中国　四川　成都<br />#}
{#                                                    1234 Somewhere Rd #987<br />#}
{#                                                    Nashville, TN 00000-0000#}
{#                                                </p>#}
{#                                            </section>#}
{#                                        </div>#}
                                        <div class="6u 12u(mobile)">
                                            <section>
                                                <h3 class="icon fa-comment">Social</h3>
                                                <p>
                                                    <a href="http://weibo.com/deskxd">sina-weibo</a>
                                                </p>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="6u 12u(mobile)">
                                            <section>
                                                <h3 class="icon fa-envelope">Email</h3>
                                                <p>
                                                    <a href="Contact@DeskXD.com">Contact@DeskXD.com</a>
                                                </p>
                                            </section>
                                        </div>
{#                                        <div class="6u 12u(mobile)">#}
{#                                            <section>#}
{#                                                <h3 class="icon fa-phone">Phone</h3>#}
{#                                                <p>#}
{#                                                    (000) 555-0000#}
{#                                                </p>#}
{#                                            </section>#}
{#                                        </div>#}
                                    </div>
                                </section>
							</div>
						</div>
						<hr />
					</div>
					<div id="copyright">
						<ul>
							<li>&copy; DeskXD.com</li><li><a href="http://html5up.net">Thanks</a></li>
						</ul>
					</div>
				</div>


		</div>

		<!-- Scripts -->

			<script src="{% static 'deskxd/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/skel-viewport.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'deskxd/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'deskxd/assets/js/main.js' %}"></script>
            <link rel="stylesheet" type="text/css" href="{% static 'deskxd_com/css/flexsider.css' %}"/>
            <script src="{% static 'deskxd_com/js/jquery.flexslider.js' %}"></script>
            <script>
                $(function() {
                    $('.flexslider').flexslider({
                        directionNav: true,
                        pauseOnAction: false
                    });
                });
            </script>

	</body>
</html>