<!DOCTYPE HTML>
<html>
    {% load static from staticfiles %}
	<head>
		<title>DeskXD 贤卓</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
		<!--[if lte IE 8]><script src="{% static 'deskxd/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'deskxd/assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'deskxd/assets/css/ie8.css' %}" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="/{% if lang != "zh-cn" %}?lang={{ lang }}{% endif %}">DeskXD Chengdu</a></h1>
								<p>成都贤卓新信息技术有限公司</p>
							</div>

						<!-- Nav -->
							<!-- Nav -->
							<nav id="nav">
								<ul>
                                    {% for m in menu_list %}
                                        <li>
                                            {% if m.id == 5 %}
                                                <a href="{{ m.url }}">{{ m.name }}</a>
                                                <ul>
                                                    {% for p in languages %}
                                                        <li>
                                                            <a href="/game/{% if p.text != "zh-cn" %}?lang={{ p.text }}{% endif %}" {% if p.text == lang %}style="color: #f98780; text-align: center;"{% else %}style="text-align: center;"{% endif %}>{{ p.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <a href="{{ m.url }}{% if lang != "zh-cn" %}?lang={{ lang }}{% endif %}">{{ m.name }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
								</ul>
							</nav>

					</div>
				</div>

                {% for p in section_list %}
                    {% include p.basepage %}
                {% endfor %}

		</div>

		<!-- Scripts -->

			<script src="{% static 'deskxd/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/skel-viewport.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'deskxd/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'deskxd/assets/js/main.js' %}"></script>
            <link rel="stylesheet" type="text/css" href="{% static 'deskxd_com/css/flexsider.css' %}"/>
            <script src="{% static 'deskxd_com/js/jquery.flexslider.js' %}"></script>
            <script>
                $(function() {
                    $('.flexslider').flexslider({
                        directionNav: true,
                        pauseOnAction: false
                    });
                });
            </script>

	</body>
</html>