<!DOCTYPE html>
<html>
{% load static from staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>成都贤卓新信息技术有限公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'deskxd_com/css/otherstyle.css' %}"/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'deskxd_com/js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'deskxd_com/js/jquery.main.js' %}"></script>
</head>
<body>
    <div class="wall">
        <div class="header" style="background: #eb4c4c;">
            <nav class="navbar navbar-default" id="navbar-content" style="background: #eb4c4c;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button id="mobile-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        <a class="navbar-brand" href="/" style="font-size: 24px;">DeskXD Chengdu</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'home:index' %}" id="home">HOME</a></li>
                            <li><a href="/game" id="game">GAME</a></li>
                            <li><a href="/information" id="information">INFORMATION</a></li>
                            <li><a href="/member" id="member">MEMBER</a></li>
                            <li><a href="/contact" id="contact">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="game-title" style="color: #eb4c4c; border-bottom: 2px solid #eb4c4c;">GAME</div>
        <div class="content">
            <div class="group">
                <div class="left-group">
                    <a href="#"><img src="http://ww1.sinaimg.cn/large/006bwLnEgw1evad3amppij30ci060gmb.jpg" /></a>
                </div>
                <div class="right-group">
                    <div class="time-line">
                        <img src="{% static 'deskxd_com/images/y-line.png' %}">
                    </div>
                    <div class="game-right"></div>
                </div>
            </div>
            <div class="group">
                <div class="game-left"></div>
                <div class="right-group">
                    <div class="time-line">
                        <img src="{% static 'deskxd_com/images/y-line.png' %}">
                    </div>
                    <div class="right-img">
                        <a href="#"><img src="http://ww1.sinaimg.cn/large/006bwLnEgw1evad39ps5nj30ci0603yf.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-line"></div>
        <div class="footer" id="game-footer">
            <div class="center-footer">
                <div class="left">
                    <a href="#">LANGUAGE</a>|
                    <a href="#">POWERED BY</a>
                </div>
                <div class="right">
                    Copyright © 2015 Deskxd.com
                </div>
            </div>
        </div>
    </div>
</body>
</html>
