@font-face {font-family: 'sy-default';
  src: url('//at.alicdn.com/t/6he9lvl3qjbutyb9.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/6he9lvl3qjbutyb9.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/6he9lvl3qjbutyb9.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/6he9lvl3qjbutyb9.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/6he9lvl3qjbutyb9.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: 'sy-big-bold';
  src: url('//at.alicdn.com/t/bu1vwwfem13ba9k9.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/bu1vwwfem13ba9k9.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/bu1vwwfem13ba9k9.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/bu1vwwfem13ba9k9.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/bu1vwwfem13ba9k9.svg#NotoSansHans-Black') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: 'sy-bold';
  src: url('//at.alicdn.com/t/lto0nsk89e4b1emi.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/lto0nsk89e4b1emi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/lto0nsk89e4b1emi.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/lto0nsk89e4b1emi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/lto0nsk89e4b1emi.svg#思源黑体-粗') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: 'sy-fine';
  src: url('//at.alicdn.com/t/wtp688jq2lxlayvi.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/wtp688jq2lxlayvi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/wtp688jq2lxlayvi.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/wtp688jq2lxlayvi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/wtp688jq2lxlayvi.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
}

