html{
	background: #fafafa;
}
body{
	color: #2C3E50;
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100%;
}

.wall{
	background: #fafafa;
	width: 100%;
	z-index: 1;
}

.header{
	height: 100px;
	width: 100%;
	padding-top: 25px;
}
#navbar-content{
	border: none;
	border-radius: 0px;
	margin: auto;
	max-width: 960px;
	color: #fafafa;
}
#navbar-content a{
	color: #fafafa;
}
#mobile-button{
	border-radius: 0px;
}

.game-title{
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
	height: 80px;
	line-height: 80px;
	font-size: 40px;
	color: #2C3E50;
	text-align: center;
    font-weight: 800;
	border-bottom: 2px solid #2C3E50;
}

.content{
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	margin-top: 10px;
}
.group{
	width: 100%;
	height: 300px;
}
.left-group{
	float: left;
	width: 430px;
	height: 300px;
	line-height: 300px;
}
.left-group img{
	width: 430px;
}
.right-group{
	float: right;
	width: 490px;
	height: 300px;
}
.time-line{
	float: left;
	background: url("../images/time-line.png") repeat-y;
	height: 300px;
	line-height: 300px;
	width: 60px;
}
.time-line img{
	width: 16px;
	height: 16px;
	margin-left: 22px;
}
.right-img{
	float: right;
	width: 430px;
	height: 300px;
	line-height: 300px;
}
.right-img img{
	width: 430px;
}
.game-right{
	float: right;
	width: 430px;
	height: 260px;
	margin-top: 20px;
	border: 1px dotted #eb4c4c;
}
.game-left{
	float: left;
	width: 430px;
	height: 260px;
	margin-top: 20px;
	border: 1px dotted #eb4c4c;
}


.personal-left{
	float: left;
	width: 296px;
	margin-right: 16px;
}
.personal-center{
	float: left;
	width: 296px;
}
.personal-right{
	float: right;
	width: 296px;
	height: 40px;
}
.personal{
	width: 296px;
	border: 2px solid #a387da;
	margin-bottom: 15px;
}
.head-img{
	width: 292px;
	height: 292px;
}
.head-img img{
	width: 292px;
	height: 292px;
}
.member-name{
	width: 292px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 20px;
	background: #a387da;
	color: #fafafa;
}
.member-job{
	width: 292px;
	padding-left: 10px;
	font-size: 14px;
	background: #a387da;
	color: #fafafa;
}
.introduce{
	width: 292px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 16px;
	background: #a387da;
	color: #fafafa;
}


.company-title{
	width: 100%;
	height: 115px;
	text-align: center;
	margin-top: 20px;
}
.company-title span{
	float: left;
	width: 100%;
	font-weight: 900;
	font-size: 30px;
	margin-top: 10px;
}
.company{
	width: 100%;
}
.company-menu{
	float: left;
	width: 300px;
	margin-top: 20px;
}
.company-menu div{
	background: #4285f4;
	color: #fafafa;
	font-size: 24px;
	margin-bottom: 10px;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
#company-active{
	background: #fafafa;
	border: 1px solid #4285f4;
	color: #4285f4;
	height: 50px;
	line-height: 50px;
}
.company-txt{
	float: right;
	width: 600px;
	height: 400px;
	margin-top: 20px;
}
.company-txt div{
	width: 600px;
	height: 400px;
	border: 1px solid #4285f4;
	display: none;
	font-size: 20px;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
}


.contact-img{
	float: left;
	height: 460px;
	width: 320px;
	border: 1px dotted #145567;
	text-align: center;
	padding-top: 30px;
	margin-top: 20px;
}
.img-title{
	width: 320px;
	text-align: center;
	font-size: 24px;
	margin-top: 10px;
}
.erweima{
	width: 300px;
	margin: auto;
	height: 300px;
	margin-top: 20px;
}
.info-left{
	float: left;
	width: 280px;
	margin-right: 20px;
	margin-top: 136px;
}
.info-right{
	float: right;
	width: 280px;
	margin-top: 315px;
}
.info{
	width: 280px;
	height: 50px;
	margin-top: 20px;
}
.left-text{
	float: left;
	width: 220px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: 600;
	color: #145567;
	border: 1px solid #145567;
	text-align: center;
	display: none;
}
.left-logo{
	float: right;
	width: 50px;
	height: 50px;
	line-height: 57px;
	background: #145567;
	text-align: center;
}
.right-logo{
	float: left;
	width: 50px;
	height: 50px;
	line-height: 57px;
	background: #145567;
	text-align: center;
}
.right-text{
	float: right;
	width: 220px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: 600;
	color: #145567;
	border: 1px solid #145567;
	text-align: center;
	display: none;
}


#footer-line{
	clear: both;
	width: 100%;
}
.footer{
	clear: both;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	color: #2C3E50;
	margin-top: 50px;
}
#game-footer{
	background: url("../images/game-footer.png");
	background-repeat: repeat-x;
}
#information-footer{
	background: url("../images/information-footer.png");
	background-repeat: repeat-x;
}
#member-footer{
	background: url("../images/member-footer.png");
	background-repeat: repeat-x;
}
#contact-footer{
	background: url("../images/contact-footer.png");
	background-repeat: repeat-x;
}
.center-footer{
	width: 75%;
	max-width: 920px;
	margin: 0 auto;
}
.footer a{
	color: #2C3E50;
	margin-left: 5px;
	margin-right: 10px;
	text-decoration: underline !important;
}
.footer a:link{
	color: #2C3E50;
}
.footer a:hover{
	color: #2C3E50;
}
.footer a:visited{
	color: #2C3E50;
}
.footer .left{
	float: left;
	margin-top: 25px;
}
.footer .right{
	float: right;
	margin-top: 25px;
}

/* pad style */
/* max-width 768px */
@media screen and (max-width: 992px) {
	.header{
		width: 100%;
	}
	.logo{
		margin-left: 30px;
		font-size: 26px;
	}
	.guider{
		margin-right: 30px;
		font-size: 14px;
	}
	#olang{
		font-size: 14px;
	}
	.center-footer{
		width: 100%;
	}
	.footer .left{
		margin-left: 30px;
	}
	.footer .right{
		margin-right: 30px;
	}
}