body{
	color: #2C3E50;
	/*font-family: inherit;*/
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100%;
}

.wall{
	background: #fafafa;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.header{
	width: 75%;
	max-width: 920px;
	height: 100px;
	margin: 0 auto;
}

.logo{
	float: left;
	font-size: 30px;
	font-weight: 800;
	color: #2C3E50;
	width: 280px;
	margin-top: 18px;
}
#lang{
	float: left;
	width: 100%;
	margin-left: 1px;
}
#olang{
	float: left;
	width: 100%;
	font-size: 16px;
}

.guider{
	float: right;
	font-size: 16px;
	color: #2C3E50;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 20px;
}

.guider div{
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.guider a{
	float: left;
	color: #2C3E50;
	z-index: 1000;
}

.guider a:link{
	color: #2C3E50;
	text-decoration: none;
}

#game:hover{
	color: #fafafa;
	background: #eb4c4c;
}
#information:hover{
	color: #fafafa;
	background: #af3dea;
}
#member:hover{
	color: #fafafa;
	background: #4c91eb;
}
#contact:hover{
	color: #fafafa;
	background: #eab33d;
}

.introduc{
	max-width: 1280px;
	margin: 0 auto;
}

.content{
	width: 100%;
	margin: 0 auto;
	margin-top: 60px;
}

/* Group Style */
.group{
	max-width: 920px;
	height: 320px;
	margin: 0 auto;
	color: #2C3E50;
	margin-bottom: 36px;
}
.group-title{
	max-width: 920px;
	height: 60px;
}
.g-title{
	float: left;
	color: #2C3E50;
}
.t-img{
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 15px;
	color: #ffffff;
	margin-right: 5px;
	font-size: 26px;
}
.t-name{
	font-size: 26px;
	font-weight: 800;
	float: right;
	height: 60px;
	line-height: 60px;
}
.g-more{
	float: right;
	font-size: 16px;
	font-weight: 800;
	margin-top:23px;
}
.g-more a{
	color: #2C3E50;
}
.g-more a:link{
	text-decoration: none;
	color: #2C3E50;
}
.g-more a:hover{
	color: #2C3E50;
}
.group-txt{
	height: 320px;
	margin-top: 10px;
}
.group-txt a:hover{
	opacity: 0.6;
}
.sm-group{
	float: left;
	width: 216px;
	height: 303px;
}
#sm-one{
	margin-right: 18px;
}
.sm-group img{
	width: 216px;
	height: 216px;
}
.sm-info{
	width: 216px;
	height: 50px;
	margin-top: 13px;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	overflow: hidden;
}
.sm-info p{
	margin-bottom: 0px !important;
	text-align: center;
}
.m-group{
	float: left;
	width: 294px;
	height: 249px;
}
#m-one{
	margin-right: 19px;
}
.m-group img{
	width: 294px;
	height: 216px;
}
.m-info{
	width: 294px;
	height: 50px;
	margin-top: 13px;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	overflow: hidden;
}
.m-info p{
	margin-bottom: 0px !important;
	text-align: center;
}
.l-group{
	float: left;
	width: 450px;
	height: 316px;
}
#l-one{
	margin-right: 20px;
}
.l-group img{
	width: 450px;
	height: 216px;
}
.l-info{
	width: 450px;
	height: 30px;
	margin-top: 13px;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
}
.l-info p{
	margin-bottom: 0px !important;
	text-align: left;
	margin-left: 10px;
}
.line{
	background-image: url("../images/divide_line.jpg");
	background-repeat: repeat-x;
	background-position: left center;
	height: 2px;
	width: 100%;
	max-width: 920px;
	padding-top: 36px;
	margin: 0 auto;
	padding-bottom: 36px;
}
/* End Style*/

.footer{
	clear: both;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	color: #2C3E50;
	background: url("../images/footer.png");
	background-repeat: repeat-x;
	margin-top: 70px;
}
.center-footer{
	width: 75%;
	max-width: 920px;
	margin: 0 auto;
}
.footer a{
	color: #2C3E50;
	margin-left: 5px;
	margin-right: 10px;
	text-decoration: underline !important;
}
.footer a:link{
	color: #2C3E50;
}
.footer a:hover{
	color: #2C3E50;
}
.footer a:visited{
	color: #2C3E50;
}
.footer .left{
	float: left;
	margin-top: 25px;
}
.footer .right{
	float: right;
	margin-top: 25px;
}

/* pad style */
/* max-width 768px */
@media screen and (max-width: 992px) {
	.header{
		width: 100%;
	}
	.logo{
		margin-left: 30px;
		font-size: 26px;
	}
	.guider{
		margin-right: 30px;
		font-size: 14px;
	}
	#olang{
		font-size: 14px;
	}
	.introduc img{
		min-height: 400px;
	}
	.group{
		max-width: 700px;
		height: 300px;
	}
	.group-title{
		max-width: 700px;
		height: 40px;
		line-height: 40px;
	}
	.g-title{
		font-size: 24px;
	}
	.t-img{
		margin-top: 7px;
	}
	.g-more{
		font-size: 14px;
		margin-top: 13px;
	}
	.group-txt{
		height: 240px;
		margin-top: 20px;
	}
	.group-txt a:hover{
		opacity: 0.6;
	}
	.sm-group{
		float: left;
		width: 160px;
	}
	#sm-one{
		margin-right: 20px;
	}
	.sm-group img{
		width: 160px;
		height: 160px;
	}
	.sm-info{
		width: 160px;
		height: 40px;
	}
	.m-group{
		width: 220px;
		height: 160px;
	}
	#m-one{
		margin-right: 20px;
	}
	.m-group img{
		width: 220px;
		height: 160px;
	}
	.m-info{
		width: 220px;
		height: 40px;
	}
	.l-group{
		width: 340px;
		height: 160px;
	}
	#l-one{
		margin-right: 20px;
	}
	.l-group img{
		width: 340px;
		height: 160px;
	}
	.l-info{
		width: 340px;
		height: 160px;
	}
	.line{
		width: 100%;
		max-width: 700px;
	}
	.center-footer{
		width: 100%;
	}
	.footer .left{
		margin-left: 30px;
	}
	.footer .right{
		margin-right: 30px;
	}
}