body{
	color: #2C3E50;
	/*font-family: inherit;*/
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100%;
}

/* Menu Style */
.menu{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	font-size: 16px;
	height: 60px;
	/*background-image: url("../images/footer_bg.jpg");*/
	/*background-repeat: repeat-x;*/
	/*background-position: left top;*/
	background: #2C3E50;
	text-transform: uppercase;
}
.center-menu{
	width: 75%;
	max-width: 1000px;
	height: 60px;
	margin: 0 auto;
	color: #f0f0f0;
	z-index: 20;
	font-weight: 900;
}
.center-menu a{
	color: #f0f0f0;
	margin-left: 30px;
}
.center-menu a:link{
	text-decoration: none;
}
.right-menu{
	float: right;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.menu img{
	margin-top: 10px;
}
/* End Style */

.wall{
	background: #fafafa;
	width: 100%;
	height: 100%;
}

.header{
	width: 75%;
	max-width: 1000px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
}

.logo{
	float: left;
	font-size: 24px;
	font-weight: 800;
	color: #2C3E50;
}

.language{
	float: right;
	font-size: 16px;
	font-weight: 500;
	color: #2C3E50;
}

#select_lang{
	border-radius: 0px;
	width: 160px;
}

#caret{
	float: right;
	margin-top: 8px;
}

#dropdown-menu{
	color: #2C3E50;
	border-radius: 0;
}

.introduc{
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
}

.content{
	width: 75%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
}

/* Group Style */
.group{
	width: 100%;
	height: 400px;
}
.group-title{
	width: 100%;
	height: 60px;
	line-height: 60px;
}
.g-title{
	margin-left: 16px;
	float: left;
	font-size: 26px;
	font-weight: 800;
	color: #000000;
}
.g-more{
	float: right;
	font-size: 16px;
	font-weight: 800;
	margin-right: 16px;
}
.g-more a:link{
	text-decoration: none;
}
.group-txt{
	height: 320px;
	margin-top: 20px;
}
.t-group{
	float: left;
	width: 230px;
	margin-left: 16px;
	height: 320px;
}
.t-group img{
	width: 230px;
	height: 230px;
}
.t-group a:hover{
	opacity: 0.6;
}
.t-info{
	width: 230px;
	height: 50px;
	margin-top: 29px;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
}
.line{
	background-image: url("../images/divide_line.jpg");
	background-repeat: repeat-x;
	background-position: left center;
	height: 2px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
/* End Style*/

.footer{
	clear: both;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #BDC3C7;
	margin: 0 auto;
	margin-bottom: 60px;
	color: #f0f0f0;
	/*background-image: url("../images/footer_bg.jpg");*/
	/*background-repeat: repeat-x;*/
	/*background-position: left top;*/
	background: #2C3E50;
}
.center-footer{
	width: 75%;
	max-width: 1000px;
	margin: 0 auto;
}
.footer a{
	color: #f0f0f0;
	margin-left: 5px;
	margin-right: 10px;
	text-decoration: underline !important;
}
.footer a:link{
	color: #f0f0f0;
}
.footer a:hover{
	color: #f0f0f0;
}
.footer a:visited{
	color: #f0f0f0;
}
.footer .left{
	float: left;
}
.footer .right{
	float: right;
}
