<!DOCTYPE HTML>
<html>
    {% load static from staticfiles %}
    {% load i18n %}
	<head>
		<title>DeskXD 贤卓</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
{#		<!--[if lte IE 8]><script src="{% static 'deskxd/assets/js/ie/html5shiv.js' %}"></script><![endif]-->#}
		<link rel="stylesheet" href="{% static 'deskxd/assets/css/main.css' %}" />
{#		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'deskxd/assets/css/ie8.css' %}" /><![endif]-->#}
        <style>
            #gist{
                width: 100%;
                margin: 0 auto;
            }
            #gist h3{
                font-size: 20px;
                text-align: center;
                margin:  0 auto;
                margin-bottom: 20px;
            }
            @media screen and (max-width: 736px) {
                #gist{
                    width: 100%;
                    text-align: left;
                }
            }
        </style>
        <link rel="stylesheet" href="{% static 'editor/editor.md-master/examples/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'editor/editor.md-master/css/editormd.css' %}" />
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header" style="z-index: 1 !important;">

						<!-- Logo -->
							<div id="logo" class="logo-font">
								<h1><a href="/">DeskXD Chengdu</a></h1>
								<p>成都贤卓新信息技术有限公司</p>
							</div>

					</div>
				</div>


            <div class="wrapper style2">
                    <div class="title">GistInfo</div>
                    <div id="main" class="container" style="width: 100%;">

                        {% for p in post_list %}
                            <div id="gist">
                                <h3> <p style="font-size: 2em; margin-top: 20px; text-align: center">{{ p.title }}</p></h3>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="6u 12u(mobile)" style="text-align: right;">
                                        <h4><small>Group:</small><a style="font-size: 1.5em; border-bottom: 2px solid #000000; margin-left: 20px;" href="/gist">{{ p.category }}</a></h4>
                                    </div>
                                    <div class="6u 12u(mobile)" style="text-align: left;">
                                        <h4><small>Date:</small> {{ p.date }}</h4>
                                    </div>
                                </div>
                                {% if perm == 1 %}
                                    {% include 'update.html' %}
                                {% elif perm == 0 %}
                                    {% include 'content.html' %}
                                {% endif %}
                                <p><a style="font-size: 2em;" href="/gist">返回列表</a></p>
                            </div>
                        {% endfor %}

                    </div>
                </div>


            <!-- Footer -->
                <div id="footer-wrapper" class="wrapper" style="padding-bottom: 4em;">
                    <div id="copyright">
                        <ul>
                            <li>&copy; DeskXD.com</li><li>蜀ICP备15029549号</li><li><a href="/thanks">Thanks</a><li>
                        </ul>
                    </div>
                </div>

		</div>

		<!-- Scripts -->

			<script src="{% static 'deskxd/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/skel-viewport.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'deskxd/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'deskxd/assets/js/main.js' %}"></script>
	</body>
</html>