<!DOCTYPE HTML>
<html>
    {% load static from staticfiles %}
	<head>
		<title>成都贤卓新信息技术有限公司</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'deskxd/assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'deskxd/assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'deskxd/assets/css/ie8.css' %}" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="/">DeskXD Chengdu</a></h1>
								<p>成都贤卓新信息技术有限公司</p>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="/">Home</a></li>
									<li><a href="/information/">Infromation</a></li>
									<li><a href="/game/">Game</a></li>
									<li><a href="/member/">Member</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div class="wrapper style2">
					<div class="title">Our Teams</div>
					<div id="main" class="container">

						<!-- Content -->
							<div id="content">
								<article class="box post">
									<header class="style1">
										<h2>Our Teams is a best tema!</h2>
										<p>一支流淌青春血液，充满活力的队伍</p>
									</header>
									<a href="#" class="image featured">
										<img src="http://ww3.sinaimg.cn/large/006bwLnEgw1evad63fedyj30zk0dwgn5.jpg" alt="" />
									</a>
									<p>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
									odio eleifend. Duis commodo fringilla commodo. Aliquam erat volutpat. Vestibulum
									facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
									tempus euismod. Vestibulum ante ipsum primis in faucibus.</p>
									<p>Pellentesque at urna eget tellus lobortis ultrices sed non erat. Donec eget erat non
									magna volutpat malesuada quis eget eros. Nullam sodales cursus sapien, id consequat
									leo suscipit ut. Praesent id turpis vitae turpis pretium ultricies. Vestibulum sit
									amet risus elit.</p>
								</article>
                                <div id="highlights" class="container">
                                    <div class="row 150%">
                                        {% for m in members %}
                                        <div class="4u 12u(mobile)">
                                            <section class="highlight">
                                                <a href="{{ m.url }}" class="image featured"><img src="{{ m.img }}" alt="" /></a>
                                                <h3><a href="{{ m.url }}">{{ m.name }}</a></h3>
                                                <p style="text-align: justify;">{{ m.signature|safe }}</p>
                                            </section>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
							</div>

					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper" class="wrapper">
					<div class="title">Contact</div>
					<div id="footer" class="container">
						<div class="row 150%">
							<div class="6u 12u(mobile)">

                            <!-- Contact Form -->
                                <section>
                                    <div style="text-align: center; margin-top: 30px;">
                                        <img src="{% static 'deskxd_com/images/erweima.png' %}" />
                                    </div>
                                </section>

							</div>
							<div class="6u 12u(mobile)">
                            <!-- Contact -->
                                <section class="feature-list small">
                                    <div class="row">
{#                                        <div class="6u 12u(mobile)">#}
{#                                            <section>#}
{#                                                <h3 class="icon fa-home">Mailing Address</h3>#}
{#                                                <p>#}
{#                                                    中国　四川　成都<br />#}
{#                                                    1234 Somewhere Rd #987<br />#}
{#                                                    Nashville, TN 00000-0000#}
{#                                                </p>#}
{#                                            </section>#}
{#                                        </div>#}
                                        <div class="6u 12u(mobile)">
                                            <section>
                                                <h3 class="icon fa-comment">Social</h3>
                                                <p>
                                                    <a href="http://www.deskxd.com">www.deskxd.com</a><br />
                                                    <a href="http://deskxd/weibo.com">sina-weibo</a>
                                                </p>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="6u 12u(mobile)">
                                            <section>
                                                <h3 class="icon fa-envelope">Email</h3>
                                                <p>
                                                    <a href="Contact@DeskXD.com">Contact@DeskXD.com</a>
                                                </p>
                                            </section>
                                        </div>
{#                                        <div class="6u 12u(mobile)">#}
{#                                            <section>#}
{#                                                <h3 class="icon fa-phone">Phone</h3>#}
{#                                                <p>#}
{#                                                    (000) 555-0000#}
{#                                                </p>#}
{#                                            </section>#}
{#                                        </div>#}
                                    </div>
                                </section>
							</div>
						</div>
						<hr />
					</div>
					<div id="copyright">
						<ul>
							<li>&copy; DeskXD.com</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</div>


		</div>

		<!-- Scripts -->

			<script src="{% static 'deskxd/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/skel-viewport.min.js' %}"></script>
			<script src="{% static 'deskxd/assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'deskxd/assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'deskxd/assets/js/main.js' %}"></script>

	</body>
</html>