<!-- Footer -->
<div id="footer-wrapper" class="wrapper" style="padding-bottom: 4em;">
    <div class="title">{{ p.name }}</div>
    <div id="footer" class="container">
        <div class="row 150%">
            <div class="6u 12u(mobile)">

            <!-- Contact Form -->
                <section>
                    <div style="text-align: center; margin-top: 60px;">
                        <img src="http://ww1.sinaimg.cn/large/006bwLnEgw1ez7cboh2wkj306y06ydgw.jpg" />
                    </div>
                </section>

            </div>
            <div class="6u 12u(mobile)">
            <!-- Contact -->
                <section class="feature-list small" style="margin-top: 30px;">
                    {% for p in contact_list %}
                        <div class="row">
                            {% for q in p %}
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-{{ q.remark }}">{{ q.name }}</h3>
                                        <p>{{ q.text|safe }}</p>
                                    </section>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
        <hr />
    </div>
    <div id="copyright">
        <ul>
            <li>&copy; DeskXD.com</li><li>蜀ICP备15029549号</li><li><a href="/thanks">Thanks</a><li>
        </ul>
    </div>
</div>